@charset "UTF-8";


body{
    font-family: 'Times New Roman', Times, serif;
    background-color: dimgray;
    margin: 0px;

}

header{
    background-color: rgb(185, 179, 179);
    margin: 10px;
    padding: 5px;
}

nav{
    background-color: rgb(89, 122, 133);
    padding: 5px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.425);
    margin-bottom: 4px;
    border-radius: 5px;
    
}

nav > a{
    text-decoration: none;
    margin-right: 20px;
    color: white;
    font-weight: bold;
    padding: 5px;
}

main{
    background-color: rgb(185, 179, 179);
    margin: 10px;
    padding: 5px;
}

article{
    background-color: rgba(165, 156, 156, 0.575);
}

article>aside{
    background-color: rgb(117, 112, 112);
}

footer{
    background-color: rgb(22, 21, 21);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    
}

footer > p{
    margin: 0px;
}